<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>全局过滤器</title>
</head>

<body>
	<div id="app">


		<div class="panel panel-primary">
			<div class="panel-heading">
				<!-- {{ msg | msgFormat | testFilter }} -->
				<!-- 过滤器可以多次调用 -->
				{{ msg | msgFormat }}
			</div>
			<div class="panel-body form-inline">
				<label>
					id:<input type="text" v-model="id">
				</label>{{ id }}

				<label>
					name:<input type="text" v-model="name">
				</label>{{ name }}
				<!-- add()可以传参数，不加()代码也正常 -->
				<input type="button" value="添加" class="btn btn-primary" @click="add()">
				<label>
					搜索名称关键字:
					<input type="text" class="form-control" v-model="keywords" >
				</label>
			</div>

		</div>

		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>ctime</th>
					<th>option</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in search(keywords)">
					<td>{{ item.id }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.ctime }}</td>
					<td><a href="" @click.prevent="delCar(item.id)">删除</a></td>
				</tr>
			</tbody>
		</table>


	</div>

	<script>
		//过滤器格式{{ name | 过滤器名称}}
		//全局过滤器定义语法
		//Vue.filter('过滤器名称',function(data){})
		
		Vue.filter('msgFormat',function(data){
			// return data.replace('世界','宇宙')
			//正则表达式
			return data.replace(/世界/g,'宇宙')
		})

		var vm = new Vue({
			el: "#app",
			data: {
				id: '',
				name: '',
				keywords:'',
				msg:'这个世界上的人是最聪明的，全世界人民为你骄傲',
				list: [
					{ id: 1, name: "奔驰", ctime: new Date() },
					{ id: 2, name: "宝马", ctime: new Date() },
				]
			},
			methods: {
				add() {

					var car = { id: this.id, name: this.name, ctime: new Date() }
					console.log(car);
					this.list.push(car)
				},
				delCar(id) {

					var index = this.list.findIndex(item => {
						if (item.id == id) {
							return true
						}
					})
					console.log(index);
					this.list.splice(index, 1)

				},
				search(keywords){

					// 方法一：indexOf,找到字符串首次出现的位置
					//var newList=[]
					//this.list.forEach(item =>{					
					// 	if (item.name.indexOf(keywords) != -1){
					// 		newList.push(item)
					// 	}					
					//})						
					//console.log(keywords)
					//return newList


					// 方法二：list的filter用法,可以用箭头函数，也可以不用箭头函数				
					// var newList=this.list.filter(function(item){
					// 	if (item.name.includes(keywords)){
					// 		return item
					// 	}
					// })
					// console.log(keywords)
					// return newList


					// 方法三：list的filter用法,用箭头函数和直接返回				
					return this.list.filter(item => {
						if (item.name.includes(keywords)){
							return item
						}
					})					
					
				}
			},


		})
	</script>

</body>

</html>